#!/usr/bin/make -f
# -*- makefile -*-

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE=1

# (Build-Depends += debhelper qubes-builder config-package-dev)
include /usr/share/qubes-builder/default.mk

%:
	@$(call debug,$@ $(blue)[$?] stem=$* member=$%)
	@dh $@ --with systemd --with=config-package

setup:: prepare-patches get-orig-source
	@$(call debug,$@ $(blue)[$?] stem=$* member=$%)

override_dh_auto_build:
	@$(call debug,$@ $(blue)[$?] stem=$* member=$%)
	@make all

override_dh_auto_install:
	@$(call debug,$@ $(blue)[$?] stem=$* member=$%)
	@make install-deb
	@make -C qrexec install

override_dh_fixperms:
	@$(call debug,$@ $(blue)[$?] stem=$* member=$%)
	@dh_fixperms -a -Xqfile-unpacker

# Inject custom depends to debian/control from distribution or vendor specific
# depends configuration file
#
# See 'depends.mk' in '/usr/share/builder-debian/snippets' directory.
ifneq (,$(DEPENDS))
override_dh_gencontrol: $(DEPENDS)
	@$(call debug,$@ $(blue)[$?] stem=$* member=$%)
	dh_gencontrol -- -T$<
endif

override_dh_systemd_start:
	@$(call debug,$@ $(blue)[$?] stem=$* member=$%)
	@dh_systemd_start --no-restart-on-upgrade

.PHONY: setup
# vim: filetype=make
